
  <div class="container-fluid">
      <div class="form-group">
        <label>Choisir une filliere</label>
        <select class="form-control select2 select2-hidden-accessible" (change)="add_fillier($event)">
          <option selected="selected">Choix</option>
        <option *ngFor="let f of loginService.fillieres" >{{f.nom_filiere}}</option>
      </select> </div> <!-- /.form-group --><!-- /.col -->
      <div class="row" *ngFor="let fi of loginService.user.filliere">
        <div class="col-md-6"><label>{{fi.nom_filiere}}</label></div>
        <div class="col-md-3"><label>{{fi.note_admition}}</label></div>
        <div class="col-md-3">
          <button class="btn bg-danger" (click)="supprimer(fi)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button></div>
      </div>
</div>
